<footer class="container-fluid py-1">

    <div class="col-12">
        <div class="row py-1 d-flex">

          <div class="col-md-6 col-lg-5  my-0">
            <!-- <h6 class="mb-0">Conecta con nosotros en redes sociales</h6> 
            -->
            <ul class="nav justify-content-center justify-content-lg-start">
              <li class="nav-item"><a class="nav-link text-light" href="/contacto">Contacto</a></li>
              <li class="nav-item"><a class="nav-link text-light" href="/privacidad">Privacidad</a></li>
              <li class="nav-item"><a class="nav-link text-light" href="condiciones">Condiciones</a></li>
              <li class="nav-item"><a class="nav-link text-light" href="/politicacookies">Política Cookies</a></li>
            </ul>
          </div>
          
          <div class="col-md-6 col-lg-7 my-0">
            <ul class="nav justify-content-center justify-content-lg-end">
              <!--  <li class="nav-item"><a class="nav-link text-light" target="_blank" href="#"><i class="fab fa-facebook-f text-light mr-4"></i></a></li> -->
              <li class="nav-item"><a class="nav-link text-light" target="_blank" href="https://twitter.com/FVersuss"><i class="fab fa-twitter text-light mr-4"></i></a></li>
              <li class="nav-item"><a class="nav-link text-light" target="_blank" href="https://www.instagram.com/fortniteversuss/"><i class="fab fa-instagram text-light mr-4"></i></a></li>
            </ul>
          </div>
          
        </div>      
    </div>

</footer>


