<footer class="container py-5">
  <div class="row">
    <div class="col-12 col-md">

      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img" viewBox="0 0 24 24" focusable="false"><title>VS</title><circle cx="12" cy="12" r="10"></circle><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"></path></svg>
      <small class="d-block mb-3 text-muted">© 2019</small>
    </div>
    <div class="col-6 col-md">
      <h5>Fortnite VS</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">VS</a></li>
        <li><a class="text-muted" href="#">Retos</a></li>
        <li><a class="text-muted" href="#">Tienda</a></li>
        <li><a class="text-muted" href="#">Armas</a></li>
        <li><a class="text-muted" href="#">Creadores</a></li>
      </ul>
    </div>
   
    <div class="col-6 col-md">
      <h5>Redes Sociales</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="mailto:fortniteVSinfo@gmail.com">Mail</a></li>
        <li><a class="text-muted" href="http://twitter.com/fortniteVSinfo">@FortniteVSinfo_Twitter</a></li>
        <li><a class="text-muted" href="http://twitter.com/fortniteVSinfo">@FortniteVSinfo_Instagram</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Sobre Nosotros</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">El Equipo</a></li>
        <li><a class="text-muted" href="/contacto">Contacto</a></li>
        <li><a class="text-muted" href="/privacidad">Privacidad</a></li>
        <li><a class="text-muted" href="condiciones">Condiciones de Servicio</a></li>
      </ul>
    </div>
  </div>
</footer>