<nav class="navbar navbar-expand-md navbar-dark bg-primary mb-4">
  
  <a class="navbar-brand" href="/">FortniteVS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/articulos">Esta Semana</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/tienda">Tienda</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/contacto">Contacto</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="privacidad">Privacidad</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/condiciones">Condiciones de Servicio</a>
      </li>
    </ul>
  </div>
</nav>