{% extends 'baselayout.html' %}
{% set active_page = "tienda" %}

{% block content %}



<div class="section-tienda  mb-5">

  <div class="row">

    <!-- detalles Item Shop -->
    <div class="col-12 col-lg-6 mt-5 mt-md-0">

      <div class="col-12 text-center section-tienda-header mt-5">
         <!--
        <h1 class="header-tienda">Daily Items ({{ daily_items|length }})</h1>  
        -->
        <h1 class="header-tienda">Destacados</h1>  
      </div>

      <div class="flex-row">

          {% for items_row in weekly_items | batch(2,'&nbsp;')%} 
          <div class="col-12 d-flex justify-content-center align-items-stretch text-center py-1">

            {% for item in items_row %}
              {% if item.name %}
                <div class="card card-tienda-hoy-featured-item mx-2 my-2 text-center" style="width: 15rem;
                {% if item.rarity == 'Sturdy' %} background: radial-gradient(ellipse at center 55%, #49acf2,#143977);border: 2px solid #37d1ff;
                {% elif item.rarity == 'Fine' %} background: radial-gradient(ellipse at center 55%, #e38347,#78371d);border: 2px solid #e98d4b;
                {% elif item.rarity == 'Handmade' %} background: radial-gradient(ellipse at center 55%, #60aa3a,#175117);border: 2px solid #87e339;
                {% elif item.rarity == 'Quality' %} background: radial-gradient(ellipse at center 55%, #b15be2,#4b2483);border: 2px solid #e95eff;
                {% elif item.rarity == 'Uncommon' %} background: radial-gradient(ellipse at center 55%, #60aa3a,#175117); border: 2px solid #87e339;
                {% else %} background: radial-gradient(ellipse at center 55%, #680508,#d51a18); border: 2px solid #ff9f37;
                {% endif %}">
                  <img src="{{ item.imageUrl }}" class="card-img" alt="fortnite image">
                  <div class="card-body card-tienda-hoy-body">
                    <!-- <p class="card-title"><strong>{{ item.name }}</strong></p>  -->
                    <p class="card-title card-tienda-hoy-text"><strong>{{ item.name }}</strong></p>    
                    
                    <ul class="list-inline">
                      <li class="list-inline-item"><img src="https://cdn.thetrackernetwork.com/cdn/trackernetwork/3C7Avbucks.png" class="vBucks-price-icon"></li>
                      <li class="list-inline-item card-tienda-hoy-text"><strong>{{ item.vBucks }}</strong></li>
                    </ul>
                    
                  </div>
                </div>
              {% endif %}         
            {% endfor %}         

          </div>
          {% endfor %} 
        
      </div>

    </div>



    <!-- Histórico de Ocurrencias en la Items Shop -->
    <div class="col-12 col-lg-6 mt-5 mt-md-0">

      <div class="col-12 text-center section-tienda-header mt-5">
         <!--
        <h1 class="header-tienda">Daily Items ({{ daily_items|length }})</h1>  
        -->
          <h1 class="header-tienda">Artículos diarios</h1>  
      </div>

      <div class="flex-row">

          {% for items_row in daily_items | batch(2,'&nbsp;')%} 
          <div class="col-12 d-flex justify-content-center align-items-stretch text-center py-1">

            {% for item in items_row %}
              {% if item.name %}

                <div class="card card-tienda-hoy-daily-item mx-2 my-2 text-center" style="width: 15rem;
                {% if item.rarity == 'Sturdy' %} background: radial-gradient(ellipse at center 55%, #49acf2,#143977);border: 2px solid #37d1ff;
                {% elif item.rarity == 'Fine' %} background: radial-gradient(ellipse at center 55%, #e38347,#78371d);border: 2px solid #e98d4b;
                {% elif item.rarity == 'Handmade' %} background: radial-gradient(ellipse at center 55%, #60aa3a,#175117);border: 2px solid #87e339;
                {% elif item.rarity == 'Quality' %} background: radial-gradient(ellipse at center 55%, #b15be2,#4b2483);border: 2px solid #e95eff;
                {% elif item.rarity == 'Uncommon' %} background: radial-gradient(ellipse at center 55%, #60aa3a,#175117); border: 2px solid #87e339;
                {% else %} background: radial-gradient(ellipse at center 55%, #680508,#d51a18); border: 2px solid #ff9f37;
                {% endif %}">
                  <img src="{{ item.imageUrl }}" class="card-img" alt="fortnite image">
                  <div class="card-body card-tienda-hoy-body">
                    <!-- <p class="card-title"><strong>{{ item.name }}</strong></p>  -->
                    <p class="card-title card-tienda-hoy-text"><strong>{{ item.name }}</strong></p>    
                    
                    <ul class="list-inline">
                      <li class="list-inline-item"><img src="https://cdn.thetrackernetwork.com/cdn/trackernetwork/3C7Avbucks.png" class="vBucks-price-icon"></li>
                      <li class="list-inline-item card-tienda-hoy-text"><strong>{{ item.vBucks }}</strong></li>
                    </ul>
                    
                  </div>
                </div>
              {% endif %}
            {% endfor %}         

          </div>
          {% endfor %} 
        
      </div>

    </div>
  </div>

</div>


{% endblock %}