{% extends 'baselayout.html' %}

{% block content %}
  
  <h1 class="header-title">Política de Cookies</h1>
  <h5>Descripción de los términos de política de cookies</h5>
  <br>
  <br>
  <h3>Concepto de Cookies</h3>
  <p>Las cookies son ficheros que se almacenan en el ordenador del usuario que navega a través de Internet y que, en particular, contiene un número que permite identificar unívocamente el ordenador del usuario, aunque éste cambie de localización o de dirección IP.</p>
  <p>Las cookies son instaladas durante la navegación por Internet, bien por los sitios web que visita el usuario o bien por terceros con los que se relaciona el sitio web, y permiten a éste conocer su actividad en el mismo sitio o en otros con los que se relaciona éste, por ejemplo: el lugar desde el que accede, el tiempo de conexión, el dispositivo desde el que accede (fijo o móvil), el sistema operativo y navegador utilizados, las páginas más visitadas, el número de clics realizados y de datos respecto al comportamiento del usuario en Internet.</p>
  <p>El sitio web es accesible sin necesidad de que las cookies estén activadas, si bien, su desactivación puede impedir el correcto funcionamiento del mismo.</p>

  <br>
  <br>
  <h3>Autorización para el uso de cookies.</h3>
  <p>De conformidad con el aviso de cookies que aparece en el pie de página del Sitio Web, el usuario o visitante de los mismos acepta que, al navegar por el mismo, consiente expresamente el uso de cookies según la descripción que se detalla a continuación, excepto en la medida que haya modificado la configuración de su navegador para rechazar la utilización de las mismas.</p>

  <br>
  <br>
  <h3>Tipos de Cookies que se utilizan en el Sitio Web.</h3>
  <p>El usuario que navega por el Sitio Web de conloquetengo.es, puede encontrar cookies insertadas directamente por el Prestador de la página web (en adelante el Prestador de la Página), o bien cookies insertadas por empresas distintas a ésta, según lo detallado a continuación:</p>


<table>
<thead>
<tr>
<td><strong>Cookies</strong></td>
<td><strong>Información</strong></td>
<td><strong>Finalidad</strong></td>
<td><strong>Duración</strong></td>
</tr>
</thead>
<tbody>
<tr>
<td colspan="4"><strong>Cookies Propias</strong></td>
</tr>
<tr>
<td>Estrictamente necesarias</td>
<td>Sesión, registro, datos del carrito de compra, datos para distinguir los servicios gratuitos de los servicios de pago</td>
<td>Gestión del registro<br>Prestar servicios de la sociedad de la información solicitados por el usuario y conforme a los términos y condiciones aplicables</td>
<td>Sesión</td>
</tr>
<tr>
<td colspan="3"><strong>Cookies de Terceros</strong></td>
<td>&nbsp;</td>
</tr>
<tr>
<td>Analítica (Google Inc.). Cookies que empiezan por _ut y la cookie _ga</td>
<td>Número de visitas, páginas o secciones visitadas, tiempo de navegación, sitios visitados antes de entrar en esta página, detalles sobre los navegadores usados</td>
<td>Informes estadísticos sobre el tráfico del sitio web, su audiencia total y la audiencia en una determinada campaña publicitaria</td>
<td>Hasta 2 años</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>Cookie _dc</td>
<td>Cookie complementaria de Google Analytics cuando se activan las funcionalidades avanzadas de display.</td>
<td>Se usa para asociar las sesiones de Google Analytics y de DoubleClick. Esta cookie no almacena información de usuario. Solo se usa para limitar el número de solicitudes que deben realizarse a doubleclick.net</td>
<td>Hasta 10 minutos</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
</tbody>
</table>



  <br>
  <br>
  <h3>¿Cómo se pueden gestionar las cookies en los navegadores?</h3>
  <p>Todos los navegadores permiten gestionar la privacidad y el uso de las cookies, llegando al extremo de poder bloquear el uso de las cookies.</p>
  <p>Adjuntamos enlaces con información para distintos tipos de navegadores:</p>
  <ol>
  	<li><a href="https://support.google.com/chrome/answer/95647?hl=es">Google Chrome: https://support.google.com/chrome/answer/95647?hl=es</a></li>
  	<li><a href="http://support.mozilla.org/es/kb/configuracion-de-la-privacidad-el-historial-de-nav?redirectlocale=es&as=u&redirectslug=Ventana+Opciones+-+Panel+Privacidad">Firefox: http://support.mozilla.org/es/kb/configuracion-de-la-privacidad-el-historial-de-nav?redirectlocale=es&as=u&redirectslug=Ventana+Opciones+-+Panel+Privacidad</a></li>
  	<li><a href="http://support.mozilla.org/es/kb/cookies-informacion-que-los-sitios-web-guardan-en-?redirectlocale=en-US&redirectslug=Cookies">Mozilla: http://support.mozilla.org/es/kb/cookies-informacion-que-los-sitios-web-guardan-en-?redirectlocale=en-US&redirectslug=Cookies</a></li>
  	<li><a href="http://windows.microsoft.com/es-ES/windows7/How-to-manage-cookies-in-Internet-Explorer-9">Internet Explorer: http://windows.microsoft.com/es-ES/windows7/How-to-manage-cookies-in-Internet-Explorer-9</a></li>
	<li><a href="http://support.apple.com/kb/PH5042">Safari: http://support.apple.com/kb/PH5042</a></li>
  </ol>
  <p>Google ha desarrollado un complemento de inhabilitación de Google Analytics para navegadores al que puede acceder en el siguiente enlace: <a href="https://tools.google.com/dlpage/gaoptout">https://tools.google.com/dlpage/gaoptout</a></p>

  <br>
  <br>
  <h3>¿Qué ocurre si rechaza la instalación de cookies?</h3>
  <p>En este caso podrá seguir usando el sitio web, aunque el uso de algunos de nuestros servicios podrá ser limitado y por tanto su experiencia en nuestro sitio web podrá resultar menos satisfactoria. Esto podrá efectuarse en cualquier momento.</p>

  <br>
  <br>
  <h3>Configuración del navegador</h3>
  <p>El Prestador recuerda a sus usuarios que el uso de cookies podrá estar sujeto a su aceptación durante la instalación o actualización del navegador utilizado por éstos.</p>
  <p>Esta aceptación podrá ser revocada mediante las opciones de configuración de contenidos y privacidad disponibles en el mismo. El Prestador recomienda a sus usuarios que consulten la ayuda de su navegador o acceda a las páginas web de ayuda de los principales navegadores.</p>

  <br>
  <br>
  <h3>Consentimiento</h3>
  <p>Al navegar y continuar en el sitio web estará consintiendo el uso de las cookies antes enunciadas, y en las condiciones contenidas en la presente Política de Cookies.</p>
  <p>Si el usuario desea revocar el consentimiento prestado o realizar alguna pregunta sobre la Política de Cookies del Sitio Web, se puede poner en contacto con el Prestador a través de la siguiente dirección (fortniteestadisticas@gmail.com) indicando en el asunto “Política de Cookies”.</p>




  <br>
  <br>
  <p>Puedes contactar con nosotros directamente en <a href="mailto:fortniteVSinfo@gmail.com">fortniteVSinfo@gmail.com</a></p>

  


{% endblock %}


Utilizamos cookies para mejorar nuestros servicios. Al continuar con la navegación, entendemos que se acepta nuestra política de cookies...
aceptar ... index.html
denegar ... http://google.com
leer más... política de cookies





3. Tipos de Cookies que se utilizan en el Sitio Web.
El usuario que navega por el Sitio Web de conloquetengo.es, puede encontrar cookies insertadas directamente por el Prestador de la página web (en adelante el Prestador de la Página), o bien cookies insertadas por empresas distintas a ésta, según lo detallado a continuación:

Cookies	Información	Finalidad	Duración
Cookies Propias
Estrictamente necesarias	Sesión, registro, datos del carrito de compra, datos para distinguir los servicios gratuitos de los servicios de pago	Gestión del registro
Prestar servicios de la sociedad de la información solicitados por el usuario y conforme a los términos y condiciones aplicables	Sesión
Cookies de Terceros	
Analítica (Google Inc.). Cookies que empiezan por _ut y la cookie _ga	Número de visitas, páginas o secciones visitadas, tiempo de navegación, sitios visitados antes de entrar en esta página, detalles sobre los navegadores usados	Informes estadísticos sobre el tráfico del sitio web, su audiencia total y la audiencia en una determinada campaña publicitaria	Hasta 2 años
Cookie _dc	Cookie complementaria de Google Analytics cuando se activan las funcionalidades avanzadas de display.	Se usa para asociar las sesiones de Google Analytics y de DoubleClick. Esta cookie no almacena información de usuario. Solo se usa para limitar el número de solicitudes que deben realizarse a doubleclick.net	Hasta 10 minutos
Cookies Técnicas estrictamente necesarias para el funcionamiento adecuado del sitio web.

Cookies de análisis. Son las cookies relacionadas con Google Analytics.

Más información sobre las cookies de GoogleAnalytics:

https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage


