{% extends 'baselayout.html' %}

{% block content %}
  
  <h1 class="header-title">Política de Privacidad</h1>
  <h5>Actualizado el 9 de abril de 2019</h5>
  <br>
  <p>Somos un proyecto educativo que pretende enseñar y crear jóvenes emprendedores mediante la práctica real de crear una startup.</p>
  <p>El objetivo del sitio es ofrecer servicio a los usuarios para poder encontrar información sobre las estadísticas de jugadores de <a href="https://www.epicgames.com/fortnite/">Epic Games Fortnite</a>, así como de noticias relacionadas con los objetos y artículos disponibles en la tienda de <a href="https://www.epicgames.com/fortnite/">Epic Games Fortnite</a> y del propio juego disponibles en la comunidad de <a href="https://www.epicgames.com/fortnite/">Epic Games Fortnite</a> en Internet.</p>
  <p>Puedes contactar con nosotros directamente en <a href="mailto:fortniteVSinfo@gmail.com">fortniteVSinfo@gmail.com</a></p>

  <br>
  <br>

  <h1>General</h1>
  <ol>
  	<li>Este sitio web ha sido creado con la intención de prestar servicios a sus usuarios mientras hace el mejor esfuerzo para salvaguardar la privacidad de sus usuarios.</li>
  	<li>Este sitio no ha sido creado con la intención de recolectar información personal. El único uso de información personal no es otro que el de ofrecer sus servicios y alojar publicidad incluida en el sitio.</li> 
  	<li>El uso del servicio ofrecido por este sitio, implica la aceptación de los términos y condiciones de servicio, que por tanto, están aquí incorporados a la política de privacidad.</li>
  	<li>El uso del sitio por los usuarios está sujeto a los términos y condiciones en esta política de privacidad.</li>
  	<li>Este sitio intenta encontrar nuevas y mejores formas de ofrecer servicio y de mejorar y crecer la experiencia de usuario por lo que, esta política de privacidad y/o condiciones de servicio, pueden incluir cambios en el futuro para incorporar las nuevas prácticas.</li>
  </ol>


  <br>
  <br>
  <h1>Uso de la Información Personal</h1>
  <p>Este sitio no almacena ni procesa información personal que no sea para:</p>
  <ol>
	<li>Podemos procesar datos sobre el uso de un usuario del sitio "datos de uso". Estos datos pueden incluir su dirección IP, localización geográfica, tipo de navvegador y versión, sistema operativo, fuente de referencia, duración de la visita, páginas vistas y enlaces de la navegación, así como de información sobre el tiempo, frecuencia y patrones de uso derivados de la utilización del servicio por los usuarios. Estos datos serán la fuente de datos utilizada por el sistema de analítica de uso del sitio web (e.j. Google Analytics, etc.) con el propósito de analizar la utilización del sitio web y de sus servicios por parte de la audiencia de usuarios. La base legal de este procesamiento de datos es su consentimiento o nuestro interés legítimo, como por ejemplo, el de monitorización y la mejora de nuestro sitio web y los servicios que ofrece a sus usuarios.</li>
	<li>No facilitamos ningún dato a terceros.</li>
  </ol>


  <br>
  <br>
  <h1>Uso de Cookies</h1>
  <p>La política de cookies del sitio es definida en <a href="/politica_cookies"></a>, y por tanto, quedan aquí incorporados a la política de privacidad.</p>
  <p>Este sitio puede almacenar cookies para los siguientes propósitos:</p>
  <ol>
	<li>publicidad: utilizamos cookies para identificar a los usuario cuando visitan nuestro sitio web y mientras navegan</li>
	<li>analítica: utilizamos cookies para ahyudarnos analizar la utilización y el rendimiento de nuestro sitio web y sus servicios</li>
	<li>consentimiento del uso de cookies: utilizamos cookies para almacenar sus preferencias en relación al uso, o no, de cookies de nuestro sitio.</li>
  </ol>
  <p>La gestión de cookies está reflejada en <a href="/politica_cookies"></a>.</p>


<br>
<br>
<h1>Analítica</h1>
<p>Este sitio realiza un proceso de mejora continua en el que utilizamos diferentes herramientas analíticas proporcionadas por proveedores extrernos. Estmos interesados en proporcionar a nuestros usuarios la mejor experiencia y rendimiento, y para ello utilizamos estas herramientas de análisis para determinar y encontrar patrones de cómo nuestros usuarios hacen uso de nuestro sitio web y de nuestros servicios, de los canales en los que los usan, que les gusta y que no les gusta, y dónde se encuentran con problemas, con el fin de mejorar la experiencia de usuario, aumentar alcance y funcionalidades, así como para ofrecer guía y ayuda al uso.</p>
<p>Esta información es únicamente de 'datos de uso' de analítica, almacenados y gestionados por los proveedores de la herramienta de analítica, y no es vinculada a ninguna información personal en nuestra poseción, ya que no se almacenan ni procesa alguna información personal, aparte de lo arriba expuesto.</p>
<p>Esta información de 'datos de uso' no es nunca compartida con terceros.</p>



<br>
<br>
<h1>Contacto</h1>
<p>Para más información y dudas, puedes contactar con nosotros directamente en <a href="mailto:fortniteVSinfo@gmail.com">fortniteVSinfo@gmail.com</a></p>




{% endblock %}
