{% extends 'baselayout.html' %}

{% block content %}
  
  <h1 class='display'>Lo mejor de esta semana en Fortnite!</h1>
  <br>

  {% for articulo in articulos %}
  <div class="card my-3" style="width: 18rem;">
      <a href="{{ articulo.source_link }}"><img src="{{ articulo.image}}" class="card-img" alt="fortnite image"></a>
      <div class="card-body">
        <h5 class="card-title">{{ articulo.title }}</h5>
        <p class="card-text">{{ articulo.body }}</p>
        <ul class="list-inline">
          <li class="list-inline-item"><small class="text-muted">{{ articulo.author }}</small></li>
          <li class="list-inline-item"><small class="text-muted">{{ articulo.create_date }}</small></li>
        </ul>
        <a href="{{ articulo.source_link }}" class="btn btn-primary">leer más</a>
      </div>
  </div>
  {% endfor %}

{% endblock %}