{% extends 'baselayout.html' %}

{% block content %}
  
  <h1 class="header-title">Condiciones del Servicio</h1>
  <p>Somos un proyecto educativo que pretende enseñar y crear jóvenes emprendedores mediante la práctica real de crear una startup.</p>
  <p>El objetivo del sitio es ofrecer servicio a los usuarios para poder encontrar información sobre las estadísticas de jugadores de <a href="https://www.epicgames.com/fortnite/">Epic Games Fortnite</a>, así como de noticias relacionadas con los objetos y artículos disponibles en la tienda de <a href="https://www.epicgames.com/fortnite/">Epic Games Fortnite</a> y del propio juego disponibles en la comunidad de <a href="https://www.epicgames.com/fortnite/">Epic Games Fortnite</a> en Internet.</p>
  <p>Puedes contactar con nosotros directamente en <a href="mailto:fortniteVSinfo@gmail.com">fortniteVSinfo@gmail.com</a></p>

  <br>
  <br>

  <h1>Enlaces a otros sitios</h1>
  <ol>
  	<li>Este sitio web utiliza enlaces a otros sitios, que no están bajo nuestro control a no ser que sea expresamente comunicado, los cuales son estructurados en listas curadas de contenido basadas en temas para ofrecer utilidad a nuestros usuarios.</li>
  	<li>No se asume ninguna responsabilidad derivada del uso del contenido de los enlaces externos a dichos sitios web por parte de los usuarios.</li> 
  	<li>No se atribuye autoría alguna, ni promoción, de ninguno de estos sitios, ni de sus contenidos, que son totalmente alojados y gestinoados por en los sitios propietarios.</li>
  	<li>En el caso de que se desee que no se tenga en cuenta el contenido de un sitio en nuestras listas curadas de contenido, se deberá poner en contacto con nosotros en <a href="mailto:fortniteVSinfo@gmail.com">fortniteVSinfo@gmail.com</a>.</li>
  </ol>


  <br>
  <br>
  <h1>Estafísticas</h1>
  <ol>
  	<li>Este sitio ofrece el servicio de estadísticas basándose en el servicio externo proporcionado gratuitamente por <a href="https://fortnitetracker.com/site-api">fortnitetracker.com/site-api</a></li>
  	<li>El usuario se compromete y responsabilizará de no utilizar este stio web sino para uso personal, nunca pudiendo realizar más de 1 petición cada 5 segundos, con el fin de no bloquear, ni traspasar el límite de peticiones gratuitas del servicio facilitado por <a href="https://fortnitetracker.com/site-api">fortnitetracker.com/site-api</a>.</li>
  	<li>No se ofrece ningún tipo de soporte ni contacto relacionado con las estadísticas.</li>
  </ol>

<br>
  <br>

  <h1>Fortnite</h1>
  <ol>
  	<li>Fortnite es una marca registrada de <a href="https://www.epicgames.com/fortnite/">Epic Games Fortnite</a> quien dispone de todos los derechos de autor y propiedad. El material laquí contenido y enlazado no es oficial y no está avalado por <a href="https://www.epicgames.com/fortnite/">Epic Games Fortnite</a>.</li>
  </ol>


{% endblock %}