{% extends 'baselayout.html' %}

{% block content %}

<div class="section-tienda">

  <div class="row">
    <!-- Featured Items Shop -->
    <div class="col-12 col-lg-6 bg-success">

      <div class="col-12 text-left section-tienda-header my-5 bg-warning">
        <h1 class="header-tienda">Featured Items</h1>  
      </div>

      <div class="flex-row">
        <div class="col-12 d-flex justify-content-start align-items-stretch text-center py-3 mx-2 bg-danger">
          <div class="col-6 card-tienda-hoy-featured-item mx-0 my-0 bg-info">  
            <div class="test-card">1</div>
          </div>
          <div class="col-6 card-tienda-hoy-featured-item mx-0 my-0 bg-info">  
            <div class="test-card">2</div>
          </div>
        </div>  
        <div class="col-12 d-flex justify-content-start align-items-stretch text-center py-3 mx-2 bg-danger">
          <div class="col-6 card-tienda-hoy-featured-item mx-0 my-0 bg-info">  
            <div class="test-card">1</div>
          </div>
          <div class="col-6 card-tienda-hoy-featured-item mx-0 my-0 bg-info">  
            <div class="test-card">2</div>
          </div>
        </div>  
        <div class="col-12 d-flex justify-content-start align-items-stretch text-center py-3 mx-2 bg-danger">
          <div class="col-6 card-tienda-hoy-featured-item mx-0 my-0 bg-info">  
            <div class="test-card">1</div>
          </div>
        </div>  

      </div>
    </div>

    <!-- Daily Items Shop -->
    <div class="col-12 col-lg-6 bg-success">

      <div class="col-12 text-left section-tienda-header my-5 bg-warning">
        <h1 class="header-tienda">Daily Items</h1>  
      </div>

      <div class="flex-row">

        <div class="col-12 d-flex justify-content-start align-items-stretch text-center py-3 bg-danger">
          
          <div class="col-6 card-tienda-hoy-featured-item mx-0 my-0 bg-info">  
            <div class="test-card">1</div>
          </div>
          <div class="col-6 card-tienda-hoy-featured-item mx-0 my-0 bg-info">  
            <div class="test-card">2</div>
          </div>
        </div>  
        <div class="col-12 d-flex justify-content-start align-items-stretch text-center py-3 bg-danger">
          
          <div class="col-6 card-tienda-hoy-featured-item mx-0 my-0 bg-info">  
            <div class="test-card">1</div>
          </div>
          <div class="col-6 card-tienda-hoy-featured-item mx-0 my-0 bg-info">  
            <div class="test-card">2</div>
          </div>
        </div>  
        <div class="col-12 d-flex justify-content-start align-items-stretch text-center py-3 bg-danger">
          
          <div class="col-6 card-tienda-hoy-featured-item mx-0 my-0 bg-info">  
            <div class="test-card">1</div>
          </div>
          <div class="col-6 card-tienda-hoy-featured-item mx-0 my-0 bg-info">  
            <div class="test-card">2</div>
          </div>
        </div>  
        <div class="col-12 d-flex justify-content-start align-items-stretch text-center py-3 bg-danger">
          
          <div class="col-6 card-tienda-hoy-featured-item mx-0 my-0 bg-info">  
            <div class="test-card">1</div>
          </div>
          <div class="col-6 card-tienda-hoy-featured-item mx-0 my-0 bg-info">  
            <div class="test-card">2</div>
          </div>
        </div>  
       
      </div>
    </div>
  </div>
  
</div>



{% endblock %}