{% set active_page = "suerte" %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- The Site Main Title and Tagline -->
    <title>Voy a Tener Suerte! | Fortnite Versus - get to know your friends and enemies 😎💪🕹</title>

    <!-- Imports: JS & CSS -->
    {% include 'includes/_imports.html' %}

    <!-- Google AdSense Block -->
    {% include 'includes/_googleadsense.html' %}

  </head>
  
  <body class="d-flex flex-column h-100 full-cover-bg">
      <header>
        <!-- Navbar Container Block -->
        {% include 'includes/_navbar.html' %}
      </header>
      
      <!-- Main Bootstrap Container -->
      <div class="section-dondeaterrizamos text-center">

        <div class="jumbotron header-luckylanding">
          <div class="container">
            <h1 class="header-luckylanding-text text-center mt-md-2">¿Dónde Aterrizamos?</h1>
            <p class="lead">siento que esta vez sí que vamos a tener suerte...</p>
            <form>
              <button id="random_location" type="button" class="btn btn-primary mt-5 py-2">Voy a Tener Suerte 😎</button>      
            </form>
          </div>
        </div>


        <div class="row d-flex flex-row mt-md-5">
          <div class="col text-center">
            <div class="text-center mt-md-5 px-2">
              <p id="luckylanding-random-text"> </p>
            </div>
          </div>
        </div>
        
      </div>

      
      <!-- Footer Container Block -->
      <footer class="footer mt-auto py-3 bg-dark text-light">

      <!-- <footer class="footer fixed-bottom"  -->

          <!-- child block -->
          {% include 'includes/_footer.html' %}
      </footer>

    <script src="/static/js/bootstrap.min.js"></script>
    <script>
      document.getElementById("random_location").onclick = function() {
        let landing = ["Anarchy Acres", "Wailing Woods", "Lonely Lodge", "Retail Row", "Pleasant Park", "Moisty Mire", "Fatal Fields", "Dusty Depot", "Greasy Grove", "Flush Factory", "Loot Lake", "Tomato Town", "Salty Springs", "Snobby Shores", "Shifty Shafts", "Haunted Hills", "Junk Junction", "Tilted Towers"]
      
        let luckyLading = ['chiringuito chatarra','lomas lúgubres','ribera repipi','aeródromo ártico','aldehuela alegre','el bloque','parque placentero','balsa botín','pisos picados','túneles tortuosos','pico polar','albufera apacible','socavón soterrado','señorío de la sal','latifundio fatal','aterrizaje afortunado','escalones estivales','soto solitario','ciudad comercio','oasis ostentoso']

        let luckyCoordinates = ['el volcán','aldea vikinga','campo de fútbol','circuito de carreras','aldea mejicana']

        let randLocation = luckyLading[Math.floor(Math.random() * luckyLading.length)]

        document.getElementById("luckylanding-random-text").innerHTML = randLocation;  
      }

      
    </script>

  </body>
  
  <!-- Google Analytics Code Block -->
  {% include 'includes/_googleanalytics.html' %}


</html>