{% extends 'baselayout.html' %}
{% set active_page = "vs" %}


{% block content %}

      

      <!-- Main Bootstrap Container -->
      <!-- Section Buscador -->
      <div class="row justify-content-center text-center section-buscador">
        
          <div class="col-8">
            <h1 class="header-buscador mt-5">Fortnite Versus</h1>
            <p class="lead my-5">
              busca tus kills y tus wins y no te pierdas como evolucionan tus amigos y tus enemigos  😎💪🕹 !
            </p>
          </div>

          <div class="col-10 col-md-5 buscador-form-box mt-2 mb-5 py-3">

            <form method="POST" action="/" _lpchecked="1">
              <div class="btn-group" role="group" aria-label="Basic example">
                 <input class="input" name="playerName" type="text" placeholder="pon tu EPIC ID aquí 🕹 ">
                 <button class="button is-info btn-fortnite-yellow">buscar</button>
              </div>

              <div class="control has-text-centered mt-3">
                <label class="radio">
                  <input type="radio" name="platform" value="psp" checked="">
                  PlayStation
                </label>
                <label class="radio">
                  <input type="radio" name="platform" value="pc">
                  PC
                </label>
                <label class="radio">
                  <input type="radio" name="platform" value="xbl">
                  XBOX
                </label>
              </div>
            </form>

          </div>
        
      </div>


      <!-- Flash Messages -->
      {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="row justify-content-center text-left">
          <div class="col-12 col-md-9 mt-2 mb-5 py-3">
             
             {% for message in messages %}

              <div id="flashMessages" class="alert alert-info alert-dismissible fade show" role="alert">
                <h4 class="alert-heading">{{ message }}</h4>
                <hr>
                <p class="mb-0">recuerda utilizar tu nombre de la cuenta de EPIC</p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              {% endfor %}
          </div>        
        </div>

        {% endif %}
      {% endwith %}


      
      <!-- Section VERSUS -->
      {% if versus %}
        <div id="VSstats-versus" class="container-fluid section-players-stats">
          <div class="row justify-content-center my-1 my-md-5">
              <div class="col-12 section-players-stats-card text-center mt-5  mx-1">
                
                <!-- 
                <h1 class="display-4 mt-5">Fortnite Versus</h1>
                -->
                <img class="img-fluid versus-image mb-3" src="static/img/fortnite_game_plate.png" alt="fortnite versus">
                
                <div class="row">
                  <div class="col-6 col-md-2 offset-md-1 mt-3 mb-4">
                    <p class="section-versus-stats-label">wins:</p>
                    <p class="section-versus-stats-value"> {{ versus.vs.Wins.value }}</p>
                    <p class="section-versus-stats-name"> {{ versus.vs.Wins.player }}</p>
                  </div>
                  <div class="col-6 col-md-2 mt-3 mb-4">
                    <p class="section-versus-stats-label">kills:</p>
                    <p class="section-versus-stats-value"> {{ versus.vs.Kills.value }}</p>
                    <p class="section-versus-stats-name"> {{ versus.vs.Kills.player }}</p>
                  </div>
                  <div class="col-6 col-md-2 mt-3 mb-4">
                    <p class="section-versus-stats-label">k/d:</p>
                    <p class="section-versus-stats-value"> {{ versus.vs['K/d'].value }}</p>
                    <p class="section-versus-stats-name"> {{ versus.vs['K/d'].player }}</p>
                  </div>
                  <div class="col-6 col-md-2 mt-3 mb-4">
                    <p class="section-versus-stats-label">partidas:</p>
                    <p class="section-versus-stats-value"> {{ versus.vs['Matches Played'].value }}</p>
                    <p class="section-versus-stats-name"> {{ versus.vs['Matches Played'].player }}</p>
                  </div>
                  <div class="col-6 col-md-2 mt-3 mb-4">
                    <p class="section-versus-stats-label">score:</p>
                    <p class="section-versus-stats-value"> {{ versus.vs.Score.value }}</p>
                    <p class="section-versus-stats-name"> {{ versus.vs.Score.player }}</p>
                  </div>                                    
                </div>
                
              </div>
          </div>
        </div>
      {% endif %}

      
      <!-- Section PLAYERS Individual STATS -->
      {% if players %}
        <div id="VSstats-players" class="container-fluid section-players-stats">
          <div class="row justify-content-center my-1 my-md-5">

          {% for player in players %}
            <div class="col-12 col-md-4 section-players-stats-card text-center mt-5  mx-1">

              <div class="stats-remove">
                
                <form action="/" method="post">
                  <button type="submit" name="remove" value="{{ player.name }}" class="btn btn-link"><i class="fas fa-times btn-remove-player"></i></button>
                </form>

                
              </div>

             
              <h1 class="section-players-stats-name mt-4">{{ player.name }}</h1>
              <p class="section-players-stats-platform mb-4">{% include 'includes/_platformIcon.html' %}</p>
              
              <div class="row">
                <div class="col-6">
                  <p class="section-players-stats-label">wins:</p>
                  <p class="section-players-stats-value"> {{ player.lifetimeStats['Wins'] }}</p>
                </div>
                <div class="col-6">
                  <p class="section-players-stats-label">kills:</p> 
                  <p class="section-players-stats-value"> {{ player.lifetimeStats['Kills'] }}</p>
                </div>
                <div class="col-6">
                  <p class="section-players-stats-label">K/D:</p> 
                  <p class="section-players-stats-value"> {{ player.lifetimeStats['K/d'] }}</p>
                </div>
                <div class="col-6">
                  <p class="section-players-stats-label">partidas:</p> 
                  <p class="section-players-stats-value"> {{ player.lifetimeStats['Matches Played'] }}</p>
                </div>
                <div class="col-12">
                  <p class="section-players-stats-label">score:</p> 
                  <p class="section-players-stats-value"> {{ player.lifetimeStats['Score'] }}</p>
                </div>
              </div>
            </div>    

          {% endfor %}            
          </div>
        </div>

        <!-- Section clear -->
        <div id="players-versus" class="section-versus text-center">
          <div class="row justify-content-center section-vs my-5">

            <div class="col-12 col-md-6 mt-5 mt-md-0">
              <div class="col-12 text-center section-tienda-header">
                <a href= {{ url_for('clear') }} class="is-child">resetear</a>
              </div>
            </div>    
          </div>
        </div>

      {% endif %}



    <script>
      /* Scrolls the page to the bottom on load to the results divs: to #players-versus */
      $(document).ready(function () {
          // Handler for .ready() called.
          $('html, body').animate({
              scrollTop: $('#VSstats-versus').offset().top
          }, 'slow');
      });
    </script>
    



{% endblock %}
